:root {
  --background-color: #282c34;
  --navbar-color: #21252b;
  --text-color: #abb2bf;
  --button-background-color: #61afef;
  --button-hover-background-color: #528bff;
  --button-text-color: #282c34;
  --input-background-color: #3e4451;
  --input-hover-background-color: #4b5263;
  --editor-background-color: #21252b;
  --editor-text-color: #abb2bf;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}

#logo {
  display: block;
  width: 50%;
  height: 50%;
  margin: auto;
  padding: 10% 0 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-origin: content-box;
}

#navbar {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: var(--navbar-color);
  color: var(--text-color);
  font-family: "Nunito", sans-serif;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  span {
    margin-left: 1rem;
    cursor: pointer;
  }
  button {
    margin-left: 1rem;
    cursor: pointer;
    background: none;
    border: none;
    color: var(--text-color);
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
  }
  button:hover {
    text-decoration: underline;
  }
}

.result {
  height: 20px;
  line-height: 20px;
  margin: 1.5rem auto;
}

.input-box .btn {
  width: 60px;
  height: 30px;
  line-height: 30px;
  border-radius: 3px;
  border: none;
  margin: 0 0 0 20px;
  padding: 0 8px;
  cursor: pointer;
  background-color: var(--button-background-color);
  color: var(--button-text-color);
}

.input-box .btn:hover {
  background-color: var(--button-hover-background-color);
  color: #ffffff;
}

.input-box .input {
  border: none;
  border-radius: 3px;
  outline: none;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  background-color: var(--input-background-color);
  color: var(--text-color);
  font-smoothing: antialiased;
}

.input-box .input:hover {
  background-color: var(--input-hover-background-color);
}

.input-box .input:focus {
  background-color: var(--input-hover-background-color);
}

#editor {
  width: 90%;
  height: 300px;
  padding: 20px;
  border: none;
  border-radius: 10px;
  background-color: var(--editor-background-color);
  color: var(--editor-text-color);
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  outline: none;
  resize: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

#preview {
  width: 90%;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--editor-background-color);
  color: var(--editor-text-color);
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}
